<?xml version="1.0" encoding="utf-8"?>

<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
     <!--<add name="ConnString" connectionString="server=62.149.153.38;uid=MSSql75356;pwd=3ccc8910;database=MSSql75356" />-->
   <add name="ConnString" 
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ba-MSSql75356.mdf;Integrated Security=True" 
  providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <forms name=".MioCookie" loginUrl="login.aspx">
          <credentials passwordFormat="Clear">
            <user name="cesare" password="1Bassaidai"/>
            <user name="pepietina" password="Bardellino2015"/>
            <!--<user name="commerciale" password="1Pinzimonio!"/>-->
          </credentials>
        </forms>
      </authentication>
      <authorization>
        <allow users="*,?"/>
      </authorization>
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="webservice@cascinabardellino.it">
                <network host="smtp.cascinabardellino.it" password="1Bassaidai" userName="webservice@cascinabardellino.it" />
            </smtp>
        </mailSettings>
    </system.net>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
